<div class="customer-home-container">
      <mat-toolbar color="primary">
        <mat-toolbar-row>
          <span>Schedule your appointment</span>
          <span class="example-spacer"></span>
          <mat-icon class="example-icon" aria-hidden="false">user</mat-icon>
          <span class="material-symbols-outlined example-icon" mat-button [matMenuTriggerFor]="menu">
            account_circle
          </span>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="logout()">
              <mat-icon> <span class="material-symbols-outlined">
                power_settings_new
              </span></mat-icon>
              <span>Log Out</span>
            </button>
          </mat-menu>
          <span>{{username}}</span>
            
        </mat-toolbar-row>

      </mat-toolbar>

  <div class="main-container">
    <form [formGroup]="DateFormGroup">
        <div class="select-container">
          <div>
            <mat-form-field appearance="fill">
              <mat-label>Choose a date</mat-label>
              <input matInput [matDatepicker]="picker" [min]="todayDate" formControlName="date" (dateChange)="dateChange($event)">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        
          <div class="category">
            <mat-form-field appearance="fill">
              <mat-label>Choose Category</mat-label>
              <mat-select formControlName="category" (selectionChange)="selectionChange()">
                <mat-option *ngFor="let category of categories" [value]="category">
                  {{category}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
    </form>
  
    <!-- <div class="slots">
        <mat-chip-list selectable>
          <mat-chip #c="matChip" *ngFor="let option of slots; let index=index" [value]="option" (click)="click(c, option, index)" [ngClass]="{'red-backgroud': option.isBooked }">
            {{option['startTime'] | date : 'h:mm a'}} - {{option['endTime'] | date : 'h:mm a'}}
        </mat-chip>
        </mat-chip-list>
    </div> -->
    <div>
      <mat-accordion multi>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Morning Slots
            </mat-panel-title>
            <mat-panel-description></mat-panel-description>
          </mat-expansion-panel-header>
          <mat-chip-list selectable>
            <mat-chip #c="matChip" *ngFor="let option of morningSlot; let index=index" [value]="option" (click)="click(c, option, index, 'morning')" [ngClass]="{'red-backgroud': option.isBooked }">
              {{option['startTime'] | date : 'h:mm a'}} - {{option['endTime'] | date : 'h:mm a'}}
            </mat-chip>
          </mat-chip-list>
        </mat-expansion-panel>

        <!-- Noon -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Noon Slots
            </mat-panel-title>
            <mat-panel-description> </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-chip-list selectable>
            <mat-chip #c="matChip" *ngFor="let option of noonSlot; let index=index" [value]="option" (click)="click(c, option, index, 'noon')" [ngClass]="{'red-backgroud': option.isBooked }">
              {{option['startTime'] | date : 'h:mm a'}} - {{option['endTime'] | date : 'h:mm a'}}
            </mat-chip>
          </mat-chip-list>
        </mat-expansion-panel>

        <!-- Evening -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
             Evening Slots
            </mat-panel-title>
            <mat-panel-description></mat-panel-description>
          </mat-expansion-panel-header>
          <mat-chip-list selectable>
            <mat-chip #c="matChip" *ngFor="let option of eveningSlot; let index=index" [value]="option" (click)="click(c, option, index, 'evening')" [ngClass]="{'red-backgroud': option.isBooked }">
              {{option['startTime'] | date : 'h:mm a'}} - {{option['endTime'] | date : 'h:mm a'}}
            </mat-chip>
          </mat-chip-list>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <br>
    <div class="book-button">
      <button mat-raised-button color="primary" [disabled]="disabled" (click)="bookAppointment()">Book</button>
    </div>
  </div>
</div>
