<div class="admin-home-container">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Check booked appointment</span>
      <span class="example-spacer"></span>
      <mat-icon class="example-icon" aria-hidden="false">user</mat-icon>
      <span class="material-symbols-outlined example-icon" mat-button [matMenuTriggerFor]="menu">
        account_circle
      </span>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout()">
          <mat-icon> <span class="material-symbols-outlined">
            power_settings_new
          </span></mat-icon>
          <span>Log Out</span>
        </button>
      </mat-menu>
      <span>Admin</span>
        
    </mat-toolbar-row>

  </mat-toolbar>

  <div class="main-container">
    <form [formGroup]="DateFormGroup">
        <div class="select-container">
          <div>

            <mat-form-field appearance="fill">
              <mat-label>Enter a date range</mat-label>
              <mat-date-range-input [rangePicker]="picker">
                <input matStartDate formControlName="date" placeholder="Start date">
                <input matEndDate formControlName="endDate" placeholder="End date" (dateChange)="dateChange($event)">
              </mat-date-range-input>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
            
              <mat-error *ngIf="DateFormGroup.controls['date'].hasError('matStartDateInvalid')">Invalid start date</mat-error>
              <mat-error *ngIf="DateFormGroup.controls['endDate'].hasError('matEndDateInvalid')">Invalid end date</mat-error>
            </mat-form-field>

          </div>
        
          <div class="search">
            <mat-form-field class="example-form-field" appearance="fill">
              <mat-label>Search by Name or Email</mat-label>
              <input formControlName="email" matInput name="email"[(ngModel)]="value" (ngModelChange)="inputChange($event)">
              <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="clearSearch()">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>

          <div class="search">
            <mat-form-field appearance="fill">
              <mat-label>Choose Category</mat-label>
              <mat-select formControlName="category" (selectionChange)="selectionChange($event)">
                <mat-option value="">None</mat-option>
                <mat-option *ngFor="let category of categories" [value]="category">
                  {{category}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
    </form>
  
    <div class="slots">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" multiTemplateDataRows>
      
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Date </th>
          <td mat-cell *matCellDef="let element"> {{element.date}} </td>
        </ng-container>

        <ng-container matColumnDef="slot">
          <th mat-header-cell *matHeaderCellDef> Slot </th>
          <td mat-cell *matCellDef="let element">
            <mat-chip-list>
              <mat-chip #c="matChip">
                {{element['startTime'] | date : 'h:mm a'}} - {{element['endTime'] | date : 'h:mm a'}}
              </mat-chip>
            </mat-chip-list>
          </td>
        </ng-container>

        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef> Category </th>
          <td mat-cell *matCellDef="let element">
            <div class="material-symbols-outlined" *ngIf="element.category=== 'Full Body Checkup'" 
              #tooltip="matTooltip"
              [matTooltip]="element.category"
              matTooltipPosition="below"
            >
            medical_information
            </div>
            <div class="material-symbols-outlined" *ngIf="element.category=== 'Vaccine'"
              #tooltip="matTooltip"
              [matTooltip]="element.category"
              matTooltipPosition="below"
            >
              vaccines
            </div>
            <div class="material-symbols-outlined" *ngIf="element.category=== 'Eye Checkup'"
              #tooltip="matTooltip"
              [matTooltip]="element.category"
              matTooltipPosition="below"
            >
              visibility
            </div>
          </td>
        </ng-container>

        <!-- <ng-container matColumnDef="slots">
          <th mat-header-cell *matHeaderCellDef> Slots </th>
          <td mat-cell *matCellDef="let element">
            <mat-chip-list>
              <mat-chip #c="matChip" *ngFor="let option of element.slots; let index=index" [value]="option">
                {{option['startTime'] | date : 'h:mm a'}} - {{option['endTime'] | date : 'h:mm a'}}
              </mat-chip>
            </mat-chip-list>
          </td>
        </ng-container> -->

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
        
    </div>
    <br>
</div>
